body {
    background: rgba(24,24,24,1);
    font-family: "Merriweather Sans";
    animation: loading 1.4s forwards;
}
@keyframes loading {
    0%,10% { opacity: 0%;}
    100% { opacity: 100%;}
}
@keyframes loading-page {
    0% { opacity: 0%; }
    65% { opacity: 92%; }
    100% { opacity: 100%;}
}
a {
    color: rgb(30, 120, 255);
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.noselect { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
.block { display: block; }
.left { float: left; }
.right { float: right; }
.block { display: block; }


::-webkit-scrollbar {width: 17px;}
::-webkit-scrollbar-track {background: rgba(24,24,24,1);}
::-webkit-scrollbar-thumb {background-color: rgba(15,15,15,1);}
::-webkit-scrollbar-thumb:hover {background: rgba(15,15,15,1);}



.bar { position: sticky; top:0; width:100%; background-color: #181818; }
/* .bar:hover { background-color: #0077ff25; } */
.navbar {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-icon {
    margin-top: 4px;
    margin-left: 9px;
}
.navbar-icon.right {
    margin-top: 13px;
    margin-right: 8px;
    border-radius: 10px;
}
.white {
    fill: #F1F1f1;
    color: #F1F1f1;
}
.white-dark {
    fill: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
}
.icon:hover {
    transition: all 0.25s ease-in-out;
    opacity: 50%;
}
.icon {
    transition: all 0.15s ease-in-out;
}
.navbar-icon.right:hover {
    cursor: pointer;

}
.server-button-icon:hover {
    cursor:pointer
}

.text {
    color: rgb(224, 224, 224);
    text-align: center;
}

.checked {
    
    color: #5f5f5f !important; 
    cursor: initial !important;
}

hr {
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    width: 130px;
  }
  



@media (max-resolution: 200dpi), (min-resolution: 20dpi) {
    .navbar {
        width: 650px;
    }
}
@media (max-resolution: 0dpi), (min-resolution: 101dpi) {
    .navbar {
        width: 500px;
    }
    .page-content {
        width: 10px;
    }
}
@media (max-resolution: 0dpi), (min-resolution: 175dpi) {
    .navbar {
        width: 400px;
    }
    .navbar-icon.right.hide {
        display: none;
    }
}
@media (max-width: 1000px){
    .grid-wrapper {
        grid-template-columns: auto auto !important;
    }
}
@media (max-width: 1000px){
    .grid-wrapper:has(> :last-child:nth-child(2)) {
        grid-template-columns: auto auto !important;
    }
    .grid-wrapper:has(> :last-child:nth-child(1)) {
        grid-template-columns: auto !important;
    }
    .page-content {
        width: 650px !important;
    }
    .server {
        animation: loading-page 2s normal;
    }
}
@media (max-width: 710px){
    .grid-wrapper {
        grid-template-columns: auto !important;
    }
    .page-content, .bar, .navbar {
        transition: 250ms;
        width: 390px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-icon.right {
        display: none;
    }
}
@media (max-width: 437px){
    .page-content {
        width: 90% !important;
    }
    .bar, .navbar {
        width: 330px !important;
        padding: 0px !important;
    }
    .navbar-icon.left {
        display: none;
    }
}
.page-content {
    /* animation: loading-page 1.2s normal; */
    display: flex;
    flex-direction: column;
    /* background: #555555; */
    width: 960px;
    margin: auto;
    margin-top: 10px;
}
.navbar li a {
    transition: all 0.25s ease-in-out;
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 19.5px 8px;
    text-decoration: none;
}

.navbar li a:hover {
    transition: all 0.1s ease-in-out;
    color: #5f5f5f;
    cursor:pointer;
}





.grid-wrapper {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: 250px;
}

.grid-wrapper:has(> :last-child:nth-child(2)) {
    grid-template-columns: auto auto;
}
.grid-wrapper:has(> :last-child:nth-child(1)) {
    grid-template-columns: auto;
}

.server {
    margin: auto;
    height: 220px;
    width: 305px;
    background-color: #222222;
    border-radius: 20px;
    display:block;
}

.server img {
    height: 70px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
}


.checkbox
{


    padding:13.56px;
    padding-left:25px;
    padding-right:25px;

    border-style: solid;
    border-width: 3px;
    border-color: #535353;;
    border-radius: 10px;

    background-color: #3d3d3d;
}

.proxy-button {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.proxy-button:hover {
    transform: scale(110%);
    opacity: 80%;
    rotate: -7deg;

}
.checkbox
{
    width: 35px;
}
input[type="checkbox"] {
    display: none;
}

.start-button:hover, .checkbox:hover { opacity: 75%; cursor: pointer; }
.start-button, .checkbox { transition: all 0.1s ease-in-out; }
.start-button {
    background-color: #34c56c;
    font-size:20px;
    color: #f3f3f3;
    border-style: solid;
    border-color: #67d692;
    border-width: 3px;
    text-align: center;
    border-radius: 10px;
    padding:11px;
    width: 90px;
    height: 30px;
    font-family: 'Outfit', sans-serif;
}
.start-button.clicked {
    width: 90px;
    background-color: #585858;
    color: #f3f3f3;
    border-color: #757575;
    cursor:progress;
}
.icon-name-below {
    display: flex;
    width: 265px;
    margin-left: 20px;
    margin-top:55px;
    list-style-type: none;
    overflow: hidden;
    display: grid;
	grid-template-columns: auto auto;


}
.icon-name {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    width: 265px;
    /* background-color: #c41e1e; */
}

p.text-server {
    text-align: center;
    font-size: 18px;
    color:#F1F1f1;
    margin: auto;
}
.marginsides {
    margin: auto;
    width: 180px;
    border-left-width: 15px;
    border-left-color: #222222;
    border-left-style: solid;
}
canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
}