body
{
    
    background: #222222;
    font-family: "Merriweather Sans";
    overflow: hidden;
    
}
/* .info, .warn, .error, .success, .none { margin-top: -10px; } */
::-webkit-scrollbar {width: 17px;}
::-webkit-scrollbar-track {background: rgb(34, 34, 34);}
::-webkit-scrollbar-thumb {background-color: rgb(26, 26, 26);}
::-webkit-scrollbar-thumb:hover {background: rgb(26, 26, 26);}

.info, .warn, .success, .error, .unkown {
    margin-left: 5px;
    transition: 250ms;
}
.info {
    color: rgb(189, 189, 189);
}
.warn {
    color: rgb(209, 190, 42);
}
.error {
    color: rgb(212, 49, 49);
}
.success {
    color: rgb(82, 163, 109);
}
.none {
    display: none;
}
.unkown {
    color: rgb(136, 136, 136);
}
.line {
    color: rgb(82, 82, 82) !important;
}
.hidden {
    display: none;
}
/* html {
    display: none;
} */
.everything {
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
#console {
    overflow: auto;
    height: calc(100vh - 62px);
    width: 100%;
    resize: none; 
    background-color: #222222;
    font-family: 'Inconsolata', monospace, serif; 
    font-size: 88%;
    display: block;
    border-bottom-color: #222222;
    padding-right: 10px;
}
#consoleInput {
    transition: all 0.1s ease-in-out;
    padding: 10px 0px 35px 15px;
    left:-10px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-style: hidden;
    background-color: #292929;
    color: #dfdfdf;
    overflow: hidden;
    resize: none;
    font-family: 'Inconsolata', monospace, serif; 
    font-size: 140%;
    position: absolute;
    bottom: 0px;
    height: 0px;
    width: 100%;
}
#consoleInput:focus {
    outline-style: none;
    color: #dfdfdf;
    background-color: #333333;
}
#consoleInput:hover { 
    background-color: #333333;
    /* outline-style: solid;
    outline-offset: -2px;
    outline-color: #3b3b3b;
    outline-width: 2px; */
}

.tools {
    display:inline-flex;
    z-index: 10;
    position: absolute;
    float: right;
    right: 0px;
    

}
.tool {
    margin-right:10px;
    border-width: 2px;
    border-style: solid;
    transition: all 0.25s ease-in-out;
    height: 28px;
    opacity: 90%;
    width: 28px;
    border-radius: 5px;
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}

.tool#sort_info {
    border-color: #727272;
    background-color: #969696;
}
.tool#sort_error {
    border-color: #8a2222;
    background-color: #aa2929;
}
.tool#sort_warn {
    border-color: #8f9126;
    background-color: #abad2f;
}

.tool#scroll {
    border-color: #2b7fa7;
    background-color: #3291bd;
}
.tool.checked {
    border-color: #383838 !important;
    background-color: #4b4b4b !important;
}
.tool:hover {
    opacity: 75%;
    cursor: pointer;
}
#another {
    margin-left: 40px
}





